* {
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 1920px;
    font-family: 'Work Sans', sans-serif;
}

/* common style  */

.menu_text {
    color: #3C354F;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* nav style  */

/* logo style  */

.logo img {
    display: block;
    width: 86px;
}

.logo p {
    padding-left: 20px;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo p::first-letter {
    color: #FF42A5;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar style  */

.navbar {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
    background: #FFF;

}

.menu_item ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.menu_item ul a {
    text-decoration: none;
}

.menu_item ul li {
    padding-left: 32px;
}

.menu_item ul li:first-child {
    padding-right: 0px;
}

.menu_item button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 262px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.menu_item button i{
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    color: red;
}

